<div class="h-100 d-flex align-items-center justify-content-center">
  <div>
        <h1>เว็บบริหารจัดการคลังสินค้า</h1><br>
        <button type="button" class="btn btn-primary" a routerLink="management">จัดการข้อมูลสินค้า</button>&nbsp;
        <button type="button" class="btn btn-primary" a routerLink="Pdealer">จัดการข้อมูลผู้จัดจำหน่าย</button>&nbsp;
        <button type="button" class="btn btn-primary" a routerLink="employee">จัดการข้อมูลพนักงาน</button>
        <br><br>
        <button type="button" class="btn btn-success" a routerLink="import_product">สั่งซื้อสินค้า</button>&nbsp;
        <button type="button" class="btn btn-warning" a routerLink="PickingSystem">เบิกสินค้า</button>
        <router-outlet></router-outlet>
  </div>
</div>


